<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simply Docs Demo | Home</title>
    <meta name="description" content="A showcase of Simply Docs by MarketingPipeline built using Simple.CSS">
    <link rel="stylesheet" href="/static/style.css">
</head>
<header>
    <nav>
        <button onclick="?asd">
            qweqwe
        </button>
    </nav>
</header>
<main>

    <div class="row" style="display: flex;">
        <div class="column" style="flex: 50%;">
            <form action="?get_search" method="get">
                <input type="text" name="search" placeholder="Введите значение">
                <input type="submit" value="Поиск">
            </form>
            <p>
                <a class="button" href="https://example.com">I'm a button with a link</a>
            </p>
            <br>
            <br>
            <a href="?note=123">123</a>
            <br>
            <a href="?note=123">123</a>
            <br>

        </div>
        <div class="column" style="flex: 50%;">
            <md>
                # qweqe
                ## asdasd
            </md>

        </div>
    </div>
</main>


<footer>
    <p>Simply Docs was created by <a href="https://github.com/MarketingPipeline/">Marketing Pipeline</a> and is licensed under the MIT license.</p>
    <small>© 2014 Some company name</small>
    <address>email@email.com</address>
</footer>

<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script>